---
---

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}";
@import "minimal-mistakes";

html {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, sans-serif;
}
